/*All background images were taken and are owned by me*/

@font-face { font-family: ChunkFive; src: url("Chunkfive.otf"); }
@font-face { font-family: Asap-Regular; src: url("Asap-Regular.otf"); }

@media only screen  and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2){
.jumbotron, #story, #experience, #languages, #education, #contact {
	background-attachment: scroll; 
	}
}

html, body, h1 {
    margin: 0;
    padding: 0;
	color: white;
}
h1 {
	letter-spacing: 2px;
	font-size: 6.25vmin;
	}
p {
	font-family: Asap-Regular;
	font-size: 2vmin;
}

.jumbotron {
	top: 0px;
	left: 0px;
	height: 100vh;
	background: no-repeat center right fixed url("https://cloud.githubusercontent.com/assets/15614624/11053089/ffd95500-872b-11e5-8c1a-5f967c8fb1a8.JPG");
	-webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.container {
	font-family: ChunkFive;
	padding-left: 50px;
	padding-top: 300px;
}
/*Page Down Cursor*/
.go-down{
	font-weight: bold;
	text-align: center;
	color:white;
	font-size: 6.875vmin;
	border: 5px solid white;
	height:9.375vmin;
	width: 9.375vmin;
	margin:0;
	position:fixed;
	bottom: 0px;
	right: 7.8125vmin;
	z-index: 9999;
	cursor:pointer;
}

.go-down:hover{
	color:#809AB5;
	cursor:pointer;
}

#nav {
	display: none;
	position: fixed;
	text-align:left;
	width: 100px;
	margin:0;
    padding-right:6.25vmin;
	list-style: none;
	top: 300px;
	right: 0px;
	z-index: 9999;
	cursor:pointer;
}

#nav .li {
	text-align: center;
}
#nav a {
	font-size: 2vmin;
	font-family: ChunkFive;
	text-decoration:none;
	color: white;
	letter-spacing: 1px;
}
#nav a:hover {
	color: #809AB5;
}
#nav .active a {
	color: black;
}
a {
	font-weight: bold;
	text-decoration:none;
	color: white;
}
a:hover {
	color: #809AB5;
}

#story {
	background: no-repeat center right fixed url("https://cloud.githubusercontent.com/assets/15614624/11053162/a97c4a36-872c-11e5-985e-b503ba838850.JPG");
	padding-left: 50px;
	padding-top: 50px;
	-webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color:#C4C8D1;
}
#story h1{
	font-family: ChunkFive;
	}

img {
	height: 20vmin;
	width: 20vmin;
}
#experience {
	background: no-repeat center right fixed url("https://cloud.githubusercontent.com/assets/15614624/11053206/1a8d279a-872d-11e5-9926-5537432abf8e.JPG");
	padding-left: 50px;
	padding-top: 50px;
	-webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #475055;
}
#experience h1{
	font-family: ChunkFive;
}

td {  
	vertical-align: top;
	text-align: left;
}
	
#languages {
	background: no-repeat center right fixed url("https://cloud.githubusercontent.com/assets/15614624/11053162/a97c4a36-872c-11e5-985e-b503ba838850.JPG");
	padding-left: 50px;
	padding-top: 50px;
	-webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color:#C4C8D1;
}
#languages h1{
	font-family: ChunkFive;
	}

#languages ul li{
	font-size: 10vmin;
	display: inline-block;
}
#education {
	background: no-repeat center right fixed url("https://cloud.githubusercontent.com/assets/15614624/11053206/1a8d279a-872d-11e5-9926-5537432abf8e.JPG");
	padding-left: 50px;
	padding-top: 50px;
	height: 100vh;
	-webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color:#475055;
}
#education h1{
	font-family: ChunkFive;
	}
	
#contact {
	background: no-repeat center right fixed url("https://cloud.githubusercontent.com/assets/15614624/11053242/646207d2-872d-11e5-84cd-4b12cc602948.JPG");
	padding-left: 50px;
	padding-top: 300px;
	height: 70vh;
	-webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #C4C8D1;
}
#contact h1{
	font-family: ChunkFive;
	}

#contact ul li {
	display: inline;
}

#contact ul {
	padding-top: 50px;
}
	
#contact img{
	width: 6.25vmin;
	height: 6.25vmin;
}
